
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% block title %}24servera.ru{% endblock %}</title>

    <!-- CSS TWIG  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('bundles/m4minecraft/img/favicon.ico') }}" type="image/x-icon">
    <link href="{{ asset ('bundles/m4minecraft/css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ asset ('bundles/m4minecraft/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header>
<nav class="light-blue lighten-1" role="navigation">

    {% block nav %}
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">24SERVERA.RU</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/add">Добавить свой сервер</a></li>
            <li><a href="/add">Раскрутить сервер</a></li>
            <li><a href="https://vk.com/megustacraft">Наша группа вк</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <li><a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/add">Добавить свой сервер</a></li>
            <li><a href="/add">Раскрутить сервер</a></li>
            <li><a href="https://vk.com/megustacraft">Наша группа вк</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <li><a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    {% endblock nav %}
</nav>
</header>
<main>
{% block section %}
{% endblock section %}

<div class="container">
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
<div class="container">
    {% block body %}
    {% endblock body %}
</div>
</main>
<footer class="page-footer light-blue">
{% block footer %}
        <div class="container">
            <a class="orange-text text-lighten-3" href="http://24servera.ru">Copyright © 2015 24servera.ru</a>
        </div>
{% endblock footer %}

</footer>

<!--  Scripts TWIG-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ asset ('bundles/m4minecraft/js/materialize.js') }}"></script>
<script src="{{ asset ('bundles/m4minecraft/js/init.js') }}"></script>

</body>
</html>