{% extends '::base.html.twig' %}

{% block title %}24servera.ru{% endblock %}


{% block body %}
        <div class="section">
            <table class="striped centered hoverable">
                <thead>
                <tr>
                    <th data-field="name">Название сервера</th>
                    <th data-field="descr">Краткое описание</th>
                    <th data-field="adress">Адрес сервера</th>
                    <th data-field="ver">Версия</th>
                    <th data-field="ver">Онлайн</th>
                    <th data-field="bol">Кругов</th>
                </tr>
                </thead>

                <tbody>
                {% for s in mc_server %}
                <tr class="{{ s.color }}">
                    <td>{{ s.name }}</td>
                    <td>{{ s.description }}</td>
                    <td>{{ s.ip }}</td>
                    <td>{{ s.ver }}</td>
                    <td>online</td>
                    <td>{{ s.balls }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
            <br>
            <br>
        </div>
{% endblock %}